<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.ps.system.mapper.UserMapper">
    <select id="queryByUsername" resultType="com.lyh.ps.system.entity.User" parameterType="String">
        select password,is_bind from user where username=#{username}
    </select>

    <insert id="addUser" parameterType="com.lyh.ps.system.entity.User">
        insert into user(id,account,password,username)
        values(#{id},#{account},#{password},#{username})
    </insert>
</mapper>